-today_1 = '5 400р.';
-today_2 = '10 900р.';
-today_3 = '14 900р.';

-sale_1 = '1 500р.';
-sale_2 = '3 000р.';
-sale_3 = '6 000р.';

-link_1 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4440&clean=true&lg=ru';
-link_2 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4444&clean=true&lg=ru';
-link_3 = 'https://shop.mastervision.su/?r=ordering/cart/as1&id=4448&clean=true&lg=ru';

section#prices
	.container
		h3.general-title Выберите 
			span свой 
			| &nbsp;вариант участия:
		.row
			.col-md-4.col-sm-4
				.packet
					.packet-head
						h4.packet-head-title
							small пакет
							| "Бронза"
					.packet-body
						h5.packet-body-title для сомневающихся и тех, кто хочет проверить технологии на себе и освоить необходимый минимум
						p.packet-body-text 6 уроков
							span.more-button(data-toggle="modal" data-target="#modal-1") подробнее
					.packet-footer
						p.cost.cost-full Стоимость:
							span 6 900р.
						p.cost.cost-sale Скидка:
							span#sale-1=sale_1
						p.cost.cost-today Стоимость сегодня:
							span#today-1=today_1
						+b('button-cost',link_1,'Выбрать','_blank','link-1')
			.col-md-4.col-sm-4
				.packet
					.packet-head
						h4.packet-head-title
							small пакет
							| "Серебро"
					.packet-body
						h5.packet-body-title
							span ВСЁ, что входит в пакет «Бронза» + Пакет «Серебро»
							| для тех, кто не только хочет глубже изучить материал, но и прокачать своё внимание и концентрацию
						p.packet-body-text 6 уроков
							span.more-button(data-toggle="modal" data-target="#modal-2") подробнее
					.packet-footer
						p.cost.cost-full Стоимость:
							span 13 900р.
						p.cost.cost-sale Скидка:
							span#sale2-=sale_2
						p.cost.cost-today Стоимость сегодня:
							span#today-2=today_2
						+b('button-cost',link_2,'Выбрать','_blank','link-2')
			.col-md-4.col-sm-4
				.packet
					.packet-head
						h4.packet-head-title
							small пакет
							| "Золото"
					.packet-body
						h5.packet-body-title
							span ВСЁ, что входит в пакеты «Бронза» и «Серебро» + Пакет «Золото»
							| для тех, кто хочет научиться запоминать любую информацию и быть готовым к любым ситуациям в жизни
						p.packet-body-text 4 урока
							span.more-button(data-toggle="modal" data-target="#modal-3") подробнее
					.packet-footer
						p.cost.cost-full Стоимость:
							span 20 900р.
						p.cost.cost-sale Скидка:
							span#sale-3=sale_3
						p.cost.cost-today Стоимость сегодня:
							span#today-3=today_3
						+b('button-cost',link_3,'Выбрать','_blank','link-3')
		.prepayment
			h4.prepayment-title Акция!!!
			p.prepayment-text Платите 500р., бонусом получаете 
				span#prepayment-bonus 500р. 
				br
				| На счет зачисляется 
				span#prepayment-credited 1 000р.
			+b('','https://shop.mastervision.su/?r=ordering/cart/as1&id=4452&clean=true&lg=ru','Оплатить 500р.','_blank','prepayment-link')
		.timer
			h4.timer-title Скидка уменьшится через:
			.clock